<div class="bg"></div>
<div class="bg2"></div>

<div class="container">

    <div >
        <article>
            <h1>CryptoCurrencies</h1>
            <div class="div-text">
                <p>Hello, my name is Yannick, i'm a cool IT nerd. This is my website, he has no real purpose, i made it
                    for the sake of my teacher <a href="http://users.polytech.unice.fr/~buffa/" target="_blank">Michel Buffa</a> and for
                    the LOL.</p>
                <p class="crypto-text">In the right, you can see my 3 favorites cryptocurrencies, and in the <a
                        routerLink="/cryptos">cryptocurrency</a>
                    page you can see the current status of my Binance wallet. You can click on each individual cryptocurrency to display his chart.</p>
                <p class="resume-text">If you are here to recruit me, you can can take a look <a routerLink="/resume">here</a>
                     at my resume. I made it in HTML. </p>
                <p>&mdash; Yannick</p>
                <img class="img-cool" src="../../assets/png/cool.png" width="10px">

            </div>
        </article>
    </div>

    <div id="right" >
        <ul>
            <li>
                <img src="../../assets/svg/ada.svg" alt="Ti pidr">
                <span>
                    <strong>Cardano</strong>
                    <p>Cardano, with its currency ADA, will be one day the first cryptocurrency.</p>
                </span>
            </li>
            <li>
                <img src="../../assets/svg/eth.svg" alt="">
                <span>
                    <strong>Ethereum</strong>
                    <p>Like Polkadot, Ethereum is pretty gay, but the 2.0 update is promising.</p>
                </span>
            </li>
            <li>
                <img src="../../assets/svg/iota.svg" alt="">
                <span>
                    <strong>Iota</strong>
                    <p>IOTA use a tangle instead of a blockchain, and this technology is stunning.</p>
                </span>
            </li>
        </ul>
    </div>
</div>