.example-header-image {
	
	background-size: cover;
  }
  .example-card {
	  width: 80%;
	max-width: 850px;
  }
  
  
  .main-div{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }