$breakpoint-tablet: 768px;

google-chart {
	width: 95%;
	height: 95%;
	@media (max-width: $breakpoint-tablet) {
		width: 95%;
		height: 95%;
	}
}

.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
  }