.example-header-image {
	background-size: cover;
}
.example-card {
	// width: 600px;
	// max-width: 850px;
	margin-top: 4%;
	// @media only screen and (max-width : 850px) {
	// 	width: 100%;
	// 	height: 100%;
	// }
}

.chartjs-block {
	@media only screen and (min-width:1000px){
		width:750px;
	}
}
mat-slider{
	margin-top: 2%;
}

