<mat-drawer-container class="full-container">
  <mat-drawer mode="side" opened>

    <mat-nav-list>
      <h1 matSubheader>Menu</h1>
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="label-menu">Home</span>
      </a>
      <a mat-list-item routerLink="/cryptos">
        <mat-icon>assessment</mat-icon>
        <span class="label-menu">Cryptomonnaies</span>
      </a>
    </mat-nav-list>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>