<mat-drawer-container class="full-container" *ngIf="innerWidth > minWidth">
  <mat-drawer style="width: 234px;" mode="side" opened>

    <mat-nav-list>
      <h1 matSubheader>Menu</h1>
      <mat-divider></mat-divider>

      <span *ngFor="let router of routerPage">
        <a mat-list-item [routerLink]="router.link">
          <mat-icon>{{router.icon}}</mat-icon>
          <span class="label-menu">{{router.name}}</span>
        </a>
        <mat-divider></mat-divider>
      </span>
    </mat-nav-list>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


<nav mat-tab-nav-bar mat-align-tabs="center" *ngIf="innerWidth <= minWidth">
  <a *ngFor="let router of routerPage" mat-tab-link [routerLink]="router.link"> <mat-icon>{{router.icon}}</mat-icon> </a>
</nav>

<router-outlet></router-outlet>