<div class="grid">
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mb-3">

            <img src="../../assets/jpg/main_poubelle.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                height="80%" (load)="loaded[0] = true" [style.display]="loaded[0] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[0]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>

        <!-- Grid column -->
        <div class="col-md-6 mb-3">

            <img src="../../assets/jpg/hamac.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[1] = true" [style.display]="loaded[1] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[1]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>


    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-3">

            <img src="../../assets/jpg/escalade.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[2] = true" [style.display]="loaded[2] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[2]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">

            <img src="../../assets/jpg/miage.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[3] = true" [style.display]="loaded[3] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[3]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">

            <img src="../../assets/jpg/dodo.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[4] = true" [style.display]="loaded[4] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[4]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/cool.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[5] = true" [style.display]="loaded[5] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[5]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-8 mb-3">

            <img src="../../assets/jpg/leonie.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[5] = true" [style.display]="loaded[5] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[5]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 mb-3">

            <img src="../../assets/jpg/crepes.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[6] = true" [style.display]="loaded[6] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[6]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/venanson.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[7] = true" [style.display]="loaded[7] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[7]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/moi_et_emilie.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[8] = true" [style.display]="loaded[8] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[8]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/cerceuil.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[9] = true" [style.display]="loaded[9] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[9]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->
    </div>

    <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 mb-3">

            <img src="../../assets/jpg/gay.jpeg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[10] = true" [style.display]="loaded[10] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[10]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->
        <div class="col-md-9 mb-3">

            <img src="../../assets/jpg/shambala.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[11] = true" [style.display]="loaded[11] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[11]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->
    </div>

    <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/king.JPG" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[12] = true" [style.display]="loaded[12] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[12]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/randonnee.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[13] = true" [style.display]="loaded[13] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[13]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/skema.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[14] = true" [style.display]="loaded[14] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[14]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
    </div>

    <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <video class="img-fluid z-depth-1" alt="Responsive image" [muted]="'muted'" autoplay loop>
                <source src="../../assets/video/salto.mp4" type="video/mp4" (load)="loaded[15] = true"
                    [style.display]="loaded[15] ? 'block' : 'none' ">
                <ngx-skeleton-loader *ngIf="!loaded[15]" animation="progress-dark" [theme]="{ height:'400px'}">
                </ngx-skeleton-loader>
            </video>

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/guillestre.JPG" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[16] = true" [style.display]="loaded[16] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[16]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/ski.JPG" class="img-fluid z-depth-1" alt="Responsive image"
                (load)="loaded[17] = true" [style.display]="loaded[17] ? 'block' : 'none' ">
            <ngx-skeleton-loader *ngIf="!loaded[17]" animation="progress-dark" [theme]="{ height:'400px'}">
            </ngx-skeleton-loader>

        </div>
    </div>
</div>