<div class="grid">
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mb-3">

            <img src="../../assets/jpg/main_poubelle.jpg" class="img-fluid z-depth-1" alt="Responsive image"
                height="80%">

        </div>

        <!-- Grid column -->
        <div class="col-md-6 mb-3">

            <img src="../../assets/jpg/hamac.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>


    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-3">

            <img src="../../assets/jpg/escalade.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">

            <img src="../../assets/jpg/miage.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">

            <img src="../../assets/jpg/dodo.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/cool.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-8 mb-3">

            <img src="../../assets/jpg/leonie.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 mb-3">

            <img src="../../assets/jpg/crepes.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/venanson.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/moi_et_emilie.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/cerceuil.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->
    </div>

    <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 mb-3">

            <img src="../../assets/jpg/gay.jpeg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->
        <div class="col-md-9 mb-3">

            <img src="../../assets/jpg/shambala.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->
    </div>

    <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/king.JPG" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/randonnee.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/skema.jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
    </div>

    <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <video  class="img-fluid z-depth-1" alt="Responsive image" [muted]="'muted'" autoplay loop>
                <source src="../../assets/video/salto.mp4"
            type="video/mp4"></video>

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/guillestre.JPG" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <img src="../../assets/jpg/ski.JPG" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
    </div>
</div>